<a href="https://colab.research.google.com/github/Mettero1209/Introduction-to-Computers/blob/main/0524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi")

Hi

In [ ]:
list1= range(2)

In [ ]:
list(list1)

[0, 1]

In [ ]:
list2 = range(3,8)

In [ ]:
list(list2)

[3, 4, 5, 6, 7]

In [ ]:
list3= range(-2,4)

In [ ]:
list(list3)

[-2, -1, 0, 1, 2, 3]

In [ ]:
list4=range(10,2,-2)

In [ ]:
list(list4)

[10, 8, 6, 4]

In [ ]:
list(list4)

[]

In [ ]:
c = range(3,8,1)

In [ ]:
list(c)

[3, 4, 5, 6, 7]

In [ ]:
a = range(9)

In [ ]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
b = range(1,10)

In [ ]:
list(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
c = range(1,10,2)

In [ ]:
list(c)

[1, 3, 5, 7, 9]

In [ ]:
d = range(10,1,-2)

In [ ]:
list(d)

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
    print(n, end=",")

0,1,2,

In [ ]:
a = int(input("輸入一個正整數:"))
sum = 0
for n in range(a+1):
    sum=sum+n
print("1到%a的整數和為:"%a,sum)

輸入一個正整數:10
1到10的整數和為: 55

In [ ]:
a = int(input("輸入一個正整數:"))
sum = 0
for n in range(a+1):
    sum=sum+n
print("1到%a整數和為:"%a,sum)

輸入一個正整數:50
1到50整數和為: 1275

In [45]:
a = int(input("請輸入一個正整數:"))
sum=0
for n in range(1,a+1):
  sum=sum+n
  print("1到%a的整數和為:"%a,sum)

請輸入一個正整數:10
1到10的整數和為: 1
1到10的整數和為: 3
1到10的整數和為: 6
1到10的整數和為: 10
1到10的整數和為: 15
1到10的整數和為: 21
1到10的整數和為: 28
1到10的整數和為: 36
1到10的整數和為: 45
1到10的整數和為: 55